.container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        background: #eee;
        margin: 10px auto;
        position: relative;
        text-align:center;
}
#email {
    color: blue
}
#homeSection {
    background-color: lightslategray;
    float: clear;
    width: 50%;
    height: 50%;
}
.contactDivs {
    padding: 10px 10px;
}
.underline {
    text-decoration: underline;
}
.dark {
    color: black
    
}
.removeUnderline {
    text-decoration: none;
}
.section {
    display: block;
    margin: 0;
    background: lightslategrey;
    position: relative;
    overflow: scroll;
}
#contactSection {
    margin: 0;
    background: lightslategrey;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.floatedtext {
        float:left;
        margin: 10px;
}
    
#bio-image {
        margin: 10px;
        width: 30%;
        height: 30%;
        /* width : 464px;
        height: 618px; */
        
}
.shrink {
        width: 60%;
        height: 60%;
}
.shrink1{
    width: 60%;
    height: 80%;
}

    /* .alignment {
        margin: 0 auto;
        
    } */
    
.btn-primary {
        padding: 5px 10px;
        
}
    /* #resumeLink, #resumeLink:visited, #resumeLink:link {
        color: tomato;
        background-color:black;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 0 auto;
        position: relative;
        top: 40%;
        left: 40%;
        
    } */
    
    /* .buttons, .buttons:visited, .buttons:link {
        color: black;
        background-color:lightslategray;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 0 auto;
        position: relative;
        top: 40%;
        left: 40%;
        margin-right: 20px;
        
    } */
    
    
    /* a, a:link, a:visited {
        color: #FFFAFA;
        text-decoration: none;
        background-color: #778899;
    }
    /* #contactSection {
        float: left;
        margin: 50px;
        background-color: lightslategray;
        padding: 10px 0;
    } */
