.section {
    float: left;
    margin: 100px;
    background-color: lightgray;
}
.floatedtext {
    float:left;
    margin: 10px;
}

#bio-image {
    float:left;
    margin: 10px;
    width : 464px;
    height: 618px;

}

.alignment {
    margin: 0 auto;
}